*{
   margin: 0;
   padding: 0;
   
   

}
.logo{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 50%;
    border: 3px solid white;
    border-radius: 50px ;

}
.navbar{
    display: flex;
    width: 100%;
    height: 50px;
}
.navlist{
    width: 100%;
    background-color: black;
    display: flex;
    /*justify-content: center;*/
    align-items: center;
    

}
.navlist li{
    list-style: none;
    padding: 25px;
    color: azure;

}
.navlist li a{
    text-decoration: none;
    color: white;

}
.navlist li a:hover{
    text-decoration: none;
    color:silver;

}
.button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
   margin-right: 20px; 
    cursor: pointer;

}
.button1{
    background-color: red;

}

    
 